<div class="col-xs-offset-2 col-xs-8 padme">
<table id="myTable" class="table table-hover">
  <thead>
  <tr>
  <th>Nickname</th>
  <th>Score</th>
  <th>W / S</th>
  <th>Kills</th>
  <th>Deaths</th>
  <th>K/D</th>
  <th>Games</th>
  <th>Place</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let player of players">
      <td>{{ player.nickname }}</td>
      <td>{{ player.score }}</td>
      <td>{{ player.wins }} / {{ player.survived }}</td>
      <td>{{ player.kills }}</td>
      <td>{{ player.deaths }}</td>
      <td>{{ player.kd }}</td>
      <td>{{ player.games }}</td>
      <td>{{ player.place }}</td>
    </tr>
  </tbody>
</table>
<div class="info-text">
  <div>Score - The players total score. (Kill - 1p, Win - 1p, Survived - 1p.)</div>
  <div>W (Wins) - Number of game the player was on the winning team.</div>
  <div>S (Survived) - Number of game the player survived to the end.</div>
  <div>Kills - Number of kills the player ha.</div>
  <div>K/D - Kill/Death ratio.</div>
  <div>Games - Number of games the player has played.</div>
  <div>Place - Placing in the ranking.</div>
</div>
</div>

<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css">
<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function(){
    $('#myTable').DataTable();
});
</script>